<h1>LoTW Fishing SUCKAAAAAA</h1>
<p><button type="button" onClick="window.location.href='/fishing'" class="btn btn-primary btn-lg active">GO FISHING!!!</button></p>
<p><button type="button" onClick="window.location.href='/users'" class="btn btn-primary btn-lg active">Manage Users</button></p>
<p><button type="button" onClick="window.location.href='/fish_types'" class="btn btn-primary btn-lg active">Manage Fish Types</button></p>

